pyenv
.test_id
backup
venv
**/venv
.venv
*.template
*.pyc
*.idea/
.bundle/
vendor
package_dir
*.zip
*.swp
.tox
build
dist
*.egg-info
.eggs
.DS_Store
.vscode
tags
*.tfstate*
.terraform
*iml

.coverage
**/htmlcov/
